[Unit]
Description=LinkCleanerBot
# Documentation=https://github.com/etriebe/linkcleanerbot
# Author: Eric Triebe 
[Service]
# Start Service and Examples
ExecStart=/usr/local/bin/node /home/triebe/linkcleanerbot/index.js
# ExecStart=/usr/bin/sudo /usr/bin/node /home/myserver/server.js
# ExecStart=/usr/local/bin/node /var/www/project/myserver/server.js
# Options Stop and Restart
# ExecStop=
# ExecReload=
# Required on some systems
WorkingDirectory=/home/triebe/linkcleanerbot/
# WorkingDirectory=/var/www/myproject/
# Restart service after 10 seconds if node service crashes
RestartSec=10
Restart=always
# Restart=on-failure
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-linkcleanerbot
# #### please, not root users
# RHEL/Fedora uses 'nobody'
# User=nouser
# Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
# Group=nogroup
# variables
Environment=PATH=/usr/bin:/usr/local/bin
# Environment=NODE_ENV=production
# Environment=NODE_PORT=3001
[Install]
WantedBy=multi-user.target
